JWT_SECRET=hosped@Secret#2025!troque-esta-chave
JWT_EXPIRATION=28800000

PAYMENT_CONFIRMATION_BASE_URL=http://localhost:8080
PAGAMENTO_EMAIL_ENABLED=false
PAGAMENTO_EXPIRACAO_HORAS=8
PAGAMENTO_EXPIRACAO_VERIFICACAO_MS=60000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME= #Insira o email do gmail aqui
MAIL_PASSWORD= #Gerar senha de 16 acessos na conta do gmail e inserir aqui
MAIL_DEBUG=false

RESERVA_DB_NAME=reserva_db
RESERVA_DB_USER=reserva_user
RESERVA_DB_PASSWORD=reserva_pass
QUARTO_DB_NAME=hosped_quartos
QUARTO_DB_USER=quartos_user
QUARTO_DB_PASSWORD=quartos_pass
USERS_DB_NAME=hosped_users
USERS_DB_USER=users_user
USERS_DB_PASSWORD=users_pass
PAGAMENTO_DB_NAME=hosped_pagamentos
PAGAMENTO_DB_USER=pagamentos_user
PAGAMENTO_DB_PASSWORD=pagamentos_pass
